In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dtrain=pd.read_csv('train.csv')

In [3]:
dtrain.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [4]:
dtrain.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [5]:
dtrain.dtypes

customer_id                      object
Name                             object
age                               int64
gender                           object
security_no                      object
region_category                  object
membership_category              object
joining_date                     object
joined_through_referral          object
referral_id                      object
preferred_offer_types            object
medium_of_operation              object
internet_option                  object
last_visit_time                  object
days_since_last_login             int64
avg_time_spent                  float64
avg_transaction_value           float64
avg_frequency_login_days         object
points_in_wallet                float64
used_special_discount            object
offer_application_preference     object
past_complaint                   object
complaint_status                 object
feedback                         object
churn_risk_score                  int64
dtype: object

In [6]:
dtrain.shape

(36992, 25)

In [7]:
dtrain.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [8]:
categorical=[]
for i in dtrain.columns:
    if dtrain[i].dtypes=='object':
        categorical.append(i)
print(categorical)

['customer_id', 'Name', 'gender', 'security_no', 'region_category', 'membership_category', 'joining_date', 'joined_through_referral', 'referral_id', 'preferred_offer_types', 'medium_of_operation', 'internet_option', 'last_visit_time', 'avg_frequency_login_days', 'used_special_discount', 'offer_application_preference', 'past_complaint', 'complaint_status', 'feedback']

In [9]:
for i in categorical:
    print(i+':',end=' ')
    print(dtrain[i].unique())
    print()

customer_id: ['fffe4300490044003600300030003800' 'fffe43004900440032003100300035003700'
 'fffe4300490044003100390032003600' ... 'fffe4300490044003500330034003100'
 'fffe43004900440031003200390039003000'
 'fffe43004900440033003600340034003200']

Name: ['Pattie Morrisey' 'Traci Peery' 'Merideth Mcmeen' ... 'Luciana Kinch'
 'Tawana Ardoin' 'Verlene Beaulieu']

gender: ['F' 'M' 'Unknown']

security_no: ['XW0DQ7H' '5K0N3X1' '1F2TCL3' ... 'XK1IM9H' 'K6VTP1Z' 'LBX0GLR']

region_category: ['Village' 'City' 'Town' nan]

membership_category: ['Platinum Membership' 'Premium Membership' 'No Membership'
 'Gold Membership' 'Silver Membership' 'Basic Membership']

joining_date: ['2017-08-17' '2017-08-28' '2016-11-11' ... '2017-12-11' '2016-09-25'
 '2017-04-15']

joined_through_referral: ['No' '?' 'Yes']

referral_id: ['xxxxxxxx' 'CID21329' 'CID12313' ... 'CID60808' 'CID10431' 'CID45477']

preferred_offer_types: ['Gift Vouchers/Coupons' 'Credit/Debit Card Offers' 'Without Offers' nan]

medium_of_operation: ['?' 'Desktop' 'Smartphone' 'Both']

internet_option: ['Wi-Fi' 'Mobile_Data' 'Fiber_Optic']

last_visit_time: ['16:08:02' '12:38:13' '22:53:21' ... '04:14:05' '09:50:03' '01:39:52']

avg_frequency_login_days: ['17.0' '10.0' '22.0' ... '-9.32551114210603' '-8.759329712785977'
 '27.8399274405269']

used_special_discount: ['Yes' 'No']

offer_application_preference: ['Yes' 'No']

past_complaint: ['No' 'Yes']

complaint_status: ['Not Applicable' 'Solved' 'Solved in Follow-up' 'Unsolved'
 'No Information Available']

feedback: ['Products always in Stock' 'Quality Customer Care' 'Poor Website'
 'No reason specified' 'Poor Product Quality' 'Poor Customer Service'
 'Too many ads' 'User Friendly Website' 'Reasonable Price']

In [10]:
dtrain['gender'].value_counts()

F          18490
M          18443
Unknown       59
Name: gender, dtype: int64

In [11]:
# check duplicate value
dtrain['customer_id'].duplicated().sum()

0

In [12]:
dtrain1=dtrain.drop(['customer_id','Name'],axis=1)

In [13]:
dtrain1['medium_of_operation'].value_counts()

Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: medium_of_operation, dtype: int64

In [14]:
dtrain1.drop(dtrain1.loc[dtrain1['medium_of_operation']=='?'].index, inplace=True)

In [15]:
dtrain1.drop(dtrain1.loc[dtrain1['joined_through_referral']=='?'].index, inplace=True)

In [16]:
dtrain1.drop(dtrain1.loc[dtrain1['joined_through_referral']=='?'].index, inplace=True)

In [17]:
dtrain1.columns

Index(['age', 'gender', 'security_no', 'region_category',
       'membership_category', 'joining_date', 'joined_through_referral',
       'referral_id', 'preferred_offer_types', 'medium_of_operation',
       'internet_option', 'last_visit_time', 'days_since_last_login',
       'avg_time_spent', 'avg_transaction_value', 'avg_frequency_login_days',
       'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [18]:
def replace(dtrain1):
    for column in dtrain1.columns[dtrain1.columns.isin(['joined_through_referral','used_special_discount','offer_application_preference','past_complaint'])]:
          dtrain1[column]=dtrain1[column].replace(('Yes','No'),(1, 0))
    return dtrain1

In [19]:
dtrain2=replace(dtrain1.copy())

In [20]:
dtrain2.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,F,1F2TCL3,Town,No Membership,2016-11-11,1,CID12313,Gift Vouchers/Coupons,Desktop,...,516.16,21027.00,22.0,500.69,0,1,1,Solved in Follow-up,Poor Website,5
3,37,M,VJGJ33N,City,No Membership,2016-10-29,1,CID3793,Gift Vouchers/Coupons,Desktop,...,53.27,25239.56,6.0,567.66,0,1,1,Unsolved,Poor Website,5
4,31,F,SVZXCWB,City,No Membership,2017-09-12,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.13,24483.66,16.0,663.06,0,1,1,Solved,Poor Website,5
6,21,M,R3CX1EA,Town,Gold Membership,2015-03-19,1,CID24708,Gift Vouchers/Coupons,Desktop,...,55.38,8982.50,28.0,756.21,1,0,1,Solved in Follow-up,No reason specified,3
8,44,M,0481QNQ,Village,Silver Membership,2016-12-14,0,xxxxxxxx,Without Offers,Smartphone,...,191.07,18362.31,20.0,NaN,1,0,1,Solved in Follow-up,Poor Customer Service,3

In [21]:
dtrain2['referral_id'].value_counts()

xxxxxxxx    14720
CID43705       10
CID3979         9
CID49601        8
CID42390        7
            ...
CID30735        1
CID11694        1
CID62237        1
CID23116        1
CID917          1
Name: referral_id, Length: 8536, dtype: int64

In [22]:
dtrain2['points_in_wallet']=dtrain2['points_in_wallet'].fillna(value=dtrain['points_in_wallet'].mean())

In [23]:
dtrain2=dtrain2.dropna()

In [24]:
dtrain2.isnull().any()

age                             False
gender                          False
security_no                     False
region_category                 False
membership_category             False
joining_date                    False
joined_through_referral         False
referral_id                     False
preferred_offer_types           False
medium_of_operation             False
internet_option                 False
last_visit_time                 False
days_since_last_login           False
avg_time_spent                  False
avg_transaction_value           False
avg_frequency_login_days        False
points_in_wallet                False
used_special_discount           False
offer_application_preference    False
past_complaint                  False
complaint_status                False
feedback                        False
churn_risk_score                False
dtype: bool

In [25]:
dtrain2.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,F,1F2TCL3,Town,No Membership,2016-11-11,1,CID12313,Gift Vouchers/Coupons,Desktop,...,516.16,21027.00,22.0,500.690000,0,1,1,Solved in Follow-up,Poor Website,5
3,37,M,VJGJ33N,City,No Membership,2016-10-29,1,CID3793,Gift Vouchers/Coupons,Desktop,...,53.27,25239.56,6.0,567.660000,0,1,1,Unsolved,Poor Website,5
4,31,F,SVZXCWB,City,No Membership,2017-09-12,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.13,24483.66,16.0,663.060000,0,1,1,Solved,Poor Website,5
6,21,M,R3CX1EA,Town,Gold Membership,2015-03-19,1,CID24708,Gift Vouchers/Coupons,Desktop,...,55.38,8982.50,28.0,756.210000,1,0,1,Solved in Follow-up,No reason specified,3
8,44,M,0481QNQ,Village,Silver Membership,2016-12-14,0,xxxxxxxx,Without Offers,Smartphone,...,191.07,18362.31,20.0,686.882199,1,0,1,Solved in Follow-up,Poor Customer Service,3

In [26]:
def encode_data(dtrain2):
    for col in dtrain2.columns[dtrain2.columns.isin(['gender','security_no','region_category','membership_category','referral_id','preferred_offer_types','medium_of_operation','internet_option','complaint_status','feedback'])]:
        dtrain2[col]=dtrain2[col].factorize()[0]
    return dtrain2

In [27]:
dtrain3=encode_data(dtrain2)

In [28]:
dtrain3.head()

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,0,0,0,0,2016-11-11,1,0,0,0,...,516.16,21027.00,22.0,500.690000,0,1,1,0,0,5
3,37,1,1,1,0,2016-10-29,1,1,0,0,...,53.27,25239.56,6.0,567.660000,0,1,1,1,0,5
4,31,0,2,1,0,2017-09-12,0,2,1,1,...,113.13,24483.66,16.0,663.060000,0,1,1,2,0,5
6,21,1,3,0,1,2015-03-19,1,3,0,0,...,55.38,8982.50,28.0,756.210000,1,0,1,0,1,3
8,44,1,4,2,2,2016-12-14,0,2,2,1,...,191.07,18362.31,20.0,686.882199,1,0,1,0,2,3

In [29]:
dtrain3['joining_day']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.day
dtrain3['joining_month']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.day
dtrain3['joining_year']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.year

In [30]:
dtrain3=dtrain3.drop('joining_date',axis=1)

In [31]:
dtrain3

,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,...,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,joining_day,joining_month,joining_year
2,44,0,0,0,0,1,0,0,0,0,...,500.690000,0,1,1,0,0,5,11,11,2016
3,37,1,1,1,0,1,1,0,0,1,...,567.660000,0,1,1,1,0,5,29,29,2016
4,31,0,2,1,0,0,2,1,1,1,...,663.060000,0,1,1,2,0,5,12,12,2017
6,21,1,3,0,1,1,3,0,0,1,...,756.210000,1,0,1,0,1,3,19,19,2015
8,44,1,4,2,2,0,2,2,1,2,...,686.882199,1,0,1,0,2,3,14,14,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36985,12,0,22878,2,4,0,2,0,0,2,...,725.890000,1,1,1,1,7,2,25,25,2016
36986,27,1,22879,0,5,1,3734,1,0,1,...,748.570000,1,0,0,3,1,3,7,7,2015
36988,29,0,22880,0,3,0,2,2,1,0,...,527.990000,1,0,0,3,2,5,27,27,2016
36990,53,1,22881,2,5,0,2,0,1,1,...,197.264414,1,1,0,3,1,3,15,15,2017
36991,35,1,22882,0,2,0,2,0,0,1,...,719.970000,1,0,0,3,6,2,23,23,2015

In [33]:
import datetime
current_year=datetime.datetime.now().year

In [42]:
# dtrain3['working_year']=datetime.datetime.now().year
# dtrain3['working_year']=dtrain3['working_year']-dtrain3['joining_year']

In [34]:
dtrain3['working_year']=dtrain3['joining_year'].apply(lambda x:current_year-x)

In [35]:
dtrain3=dtrain3.drop('joining_year',axis=1)

In [36]:
dtrain3.head()

,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,...,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,joining_day,joining_month,working_year
2,44,0,0,0,0,1,0,0,0,0,...,500.690000,0,1,1,0,0,5,11,11,5
3,37,1,1,1,0,1,1,0,0,1,...,567.660000,0,1,1,1,0,5,29,29,5
4,31,0,2,1,0,0,2,1,1,1,...,663.060000,0,1,1,2,0,5,12,12,4
6,21,1,3,0,1,1,3,0,0,1,...,756.210000,1,0,1,0,1,3,19,19,6
8,44,1,4,2,2,0,2,2,1,2,...,686.882199,1,0,1,0,2,3,14,14,5

In [37]:
dtrain3['last_visit_time']

2        22:53:21
3        15:57:50
4        15:46:44
6        11:40:04
8        06:50:10
           ...
36985    03:30:17
36986    05:29:19
36988    23:18:31
36990    09:50:03
36991    01:39:52
Name: last_visit_time, Length: 22883, dtype: object